<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <title></title>
    <script>
        let API_URL = "/api/requests";
        let PAGE_URL = "/dashboard/";

        function openPath(path) {
            window.location = PAGE_URL + path + "/";
        }

        function openRequest() {
            let requestId = document.getElementById("requestId").value;
            window.location = PAGE_URL + {{ .CurrentPath }} + "/" + requestId;
        }

        function deletePath(path) {
            let r = confirm("Delete all requests for path?");
            if (r === true) {
                let sendUrl = API_URL + path + "/*";

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === XMLHttpRequest.DONE) {
                        window.location.reload();
                    }
                }
                xmlHttp.open("DELETE", sendUrl, true); // true for asynchronous
                xmlHttp.send(null);
            }
        }

        function deleteRequest() {
            let r = confirm("Delete this request?");
            if (r === true) {
                let requestId = document.getElementById("requestId").value;
                let sendUrl = API_URL + {{ .CurrentPath }} + "/" + requestId;

                var xmlHttp = new XMLHttpRequest();
                xmlHttp.onreadystatechange = function () {
                    if (xmlHttp.readyState === XMLHttpRequest.DONE) {
                        openPath({{ .CurrentPath }});
                    }
                }
                xmlHttp.open("DELETE", sendUrl, true); // true for asynchronous
                xmlHttp.send(null);
            }
        }

        function sendRequest() {
            let requestId = document.getElementById("requestId").value;
            let target = document.getElementById("requestTargetUrl").value;

            let sendUrl = API_URL + {{ .CurrentPath }} + "/" + requestId;

            let sendRequestBody = JSON.stringify({
                "targetUrl": target
            });

            var xmlHttp = new XMLHttpRequest();

            xmlHttp.onreadystatechange = function () {
                if (xmlHttp.readyState === XMLHttpRequest.DONE) {
                    window.alert(xmlHttp.responseText);
                    hideModal();
                }
            }
            xmlHttp.open("POST", sendUrl, true); // true for asynchronous
            xmlHttp.setRequestHeader('Content-Type', 'application/json');
            xmlHttp.send(sendRequestBody);
        }

        function hideModal() {
            let modal = document.getElementById("sendRequestPopup");
            modal.style.display = "none";
        }

        function init() {
            document.getElementById("requestId").value = "{{ .RequestDetails.ID }}";

            let modal = document.getElementById("sendRequestPopup");
            let btn = document.getElementById("sendRequestOpenPopupBtn");
            let span = document.getElementsByClassName("close")[0];
            btn.onclick = function() {
                modal.style.display = "block";
            }
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target === modal) {
                    modal.style.display = "none";
                }
            }

            let openReadme = document.getElementById("openReadme");
            openReadme.onclick = () => {
                window.open('/readme');
            };
        }

        window.onload = init;

    </script>
</head>

<body>
<div class="page-header">
    <p class="page-header-title">Bend</p>
    <button id="openReadme">?</button>
</div>

<div style="width: 100%">
    <table class="table-style">
        <tr>
            <th>Request Count</th>
            <th>Path</th>
            <th></th>
        </tr>
        {{ with .Paths }}
        {{ range . }}
        <tr>
            <td onclick="openPath({{.Path}})">{{.Count}}</td>
            <td onclick="openPath({{.Path}})">{{.Path}}</td>
            <td onclick="deletePath({{.Path}})"><i class="gg-trash"></i></td>
        </tr>
        {{ end }}
        {{ end }}
    </table>

    <div class="table-style" style="width: 100%">
        <h1>{{ .CurrentPath }}</h1>

        <select class="select-css" id="requestId" onchange="openRequest()">
            {{ with .Requests }}
            {{ range . }}
                <option value="{{ .ID }}">{{ .Timestamp }}</option>
            {{ end }}
            {{ end }}
        </select>

        <div>
            <button class="button" style="width: 200px;" id="sendRequestOpenPopupBtn">Send Request to custom url</button>
            <button class="button" style="width: 200px;" onclick="deleteRequest()">Delete Request</button>
        </div>

        {{ with .RequestDetails }}
        <table class="request-details-style">
                <tr>
                    <td>Timestamp</td>
                    <td>{{.Timestamp}}</td>
                </tr>
                <tr>
                    <td>Host</td>
                    <td>{{.Host}}</td>
                </tr>
                <tr>
                    <td>Uri</td>
                    <td>{{.Uri}}</td>
                </tr>
                <tr>
                    <td>Method</td>
                    <td>{{.Method}}</td>
                </tr>
                <tr>
                    <td>Body</td>
                    <td>{{.Body}}</td>
                </tr>
                <tr>
                    <td>Header</td>
                    <td>
                        <table style = "width: 500px;">
                            {{ range $key, $value := .Header }}
                            <tr>
                                <td>{{ $key }}</td>
                                <td>{{ $value }}</td>
                            </tr>
                            {{ end }}
                        </table>

                    </td>
                </tr>
        </table>
        {{ if .Response }}
        <h2>Returned Response</h2>
        <table class="request-details-style">
            <tr>
                <td>Target Host</td>
                <td>{{ .Response.Target }}</td>
            </tr>
            <tr>
                <td>StatusCode</td>
                <td>{{ .Response.ResponseStatusCode }}</td>
            </tr>
            <tr>
                <td>Body</td>
                <td>{{ .Response.ResponseBody }}</td>
            </tr>

            {{ if .Response.Error }}
            <tr>
                <td>Error</td>
                <td>{{ .Response.Error }}</td>
            </tr>
            {{ end }}

            <tr>
                <td>Header</td>
                <td>
                    <table style="width: 500px;">
                        {{ range $key, $value := .Response.ResponseHeader }}
                        <tr>
                            <td>{{ $key }}</td>
                            <td>{{ $value }}</td>
                        </tr>
                        {{ end }}
                    </table>
                </td>
            </tr>
        </table>
        {{ end }}
        {{ end }}
    </div>

</div>

<div id="sendRequestPopup" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>Enter custom url to send this request to</p>
        <input style="width: 100%" type="text" id="requestTargetUrl" value="http://localhost:8080{{ .RequestDetails.Uri }}">
        <button class="largeButton" onclick="sendRequest()">Send</button>
    </div>

</div>

</body>
